.top-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    height: 1000px;
    background-image: url('../../images/bg_top.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.main {
    padding-top: 30px;
    padding-bottom: 25px;

    height: 900px;
}

.main-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-contents > img {
    width: 260px;
}

.sub-title {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 240px;
    height: 40px;

    margin-bottom: 24px;

    border-radius: 20px;
    border: solid 1px #fff;

    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

.white-device {  
    width: 320px;
    height: 600px;
    margin-top: 40px;
    padding: 9px;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.white-device > img,
.device > img {  
    width: 100%;
    height: 100%;
}

.store-buttons {
    display: flex;
    gap: 12px;

    margin-top: 33px;
}

.store-buttons > a { 
    gap: 10px;

    width: 180px;
    height: 60px;

    border-radius: 10px;
    background-color: #fff;

    font-size: 14px;
    font-weight: bold;
    color: #000;
}

section:nth-of-type(2n):not(:last-of-type) {
    background-color: #f6f6f6;
}

section > div {
    width: 100%;

    margin: 0 auto;
    padding: 50px 20px;
}

section small {
    font-size: 16px;
    font-weight: bold;
    color: #444;
}

section strong {
    font-size: 40px;
    font-weight: bold;
    color: #000;
}

section p {
    margin-top: 23px;
    margin-bottom: 25px;

    font-size: 16px;
    color: #777;
}

.check-list {
    margin: 0;
    padding: 0;
}


.check-list > li {  
    display: flex;
    align-items: flex-start;
    gap: 7px;

    font-size: 16px;
    text-align: left;
    color: #444;

    list-style-image: url('../../images/icon_check.png');
}

.check-list > li::before {
    content: '';
    background-image: url('../../images/icon_check.png');
    width: 25px;
    min-width: 25px;
    height: 25px;
}


.check-list > li + li {  
    margin-top: 13px;
}

.section-contents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.device {  
    width: 300px;
    height: 573.5px;
    padding: 10px;
    border-radius: 30px;
    background-color: #e7e7e7;
}

.last-section > div { 
    display: block;

    padding: 0;
    padding-top: 74px;
}

.last-section .section-contents { 
    align-items: center;

    margin: 0 auto;
    padding: 0;
}

.last-section .section-contents::before { 
    content: '“';
    margin-bottom: -20px;
    font-size: 64px;
    font-weight: bold;
    text-align: center;
    color: #777;
}

.last-section .section-contents > p,
.last-section .section-contents > strong { 
    text-align: center;
}

.bottom-bg {
    height: 193px;
    background-image: url('../../images/app_bottom.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner {
    background-color: #a08e60;
    color: #fff;
}

.banner > div {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;



    margin: 0 auto;
    padding-top: 52px;
    padding-bottom: 87px;
}

.banner-item {
    flex-direction: column;

}

.banner-item > strong {
    font-size: 40px;
    font-weight: bold;
}

.banner-item > span {
    font-size: 20px;
    font-weight: 400;
}

.banner time {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 35px;

    font-size: 10px;
    font-weight: 500;
}


.scroll-top-btn {
    display: none;

    position: fixed;
    bottom: 40px;
    right: 20px;

    width: 40px;
    height: 40px;
}

.scroll-top-btn > img {
    width: 40px;
    height: 40px;
}

.scroll-top-btn.show {
    display: block;
}

.device-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 10px;

    width: 100%;
    height: 100%;

    margin: 0;
    margin-top: 48px;
    padding: 0;

    list-style: none;
}

.device-list > li {
    padding: 8px;
    border-radius: 25px;
    background-color: #e7e7e7;
}

.device-list > li > img {
    width: 100%;
}

.between {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 30px;
}

.pricing-table {
    width: 100%;
    aspect-ratio: 420/682;
    margin: 0 auto;
    margin-top: 35px;
    background-image: url('../../images/pricing_table_mobile.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
